@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

body {font-family: 'Pretendard';}
.container{width: 1200px; height: 100%; margin: 0 auto ;}

/* header */
header { width: 100%;height: 250px; margin: 0 auto ;}

/* header_top */
.header_top{width:100%;height: 40px;background-color:#0080ff;}
.header_top_left_nav{width: 590px; height: 100%; display: flex; float: left;}
.header_top_left_nav ol{display:flex; align-items: center;}
.header_top_left_nav li{padding: 0 5px;}
.header_top_left_nav li a{color: #ececec;}

.header_top_right_nav{width: 390px; height: 100%; display: flex; float: right;margin: 0px 0px 0px 10px;align-items: right;text-align: right;}
.header_top_right_nav ol{display:flex;float: right;align-items: center;text-align: right;}
.header_top_right_nav li{padding: 0 5px;text-align: right;}
.header_top_right_nav li a{color: #ececec;text-align: right;}

/* header_mid */
.header_mid{width: 100%;height: 170px;}
.header_mid_left_logo{width: 290px;height: 100%;display: flex; float: left;}
.mainlogo{width: 290px;}

.header_mid_center_search{width: 500px;height: 100px;display: flex; float:left;}
.search{width: 100%;height: 60px;text-align: center;align-items: center;margin: 50px 10px 80px 50px;box-sizing: border-box;border: 2px solid #0080ff;} 
.search:hover{display: block;}
.header_mid_center_search i{font-size:25px; margin:0 0 0 10px; cursor:pointer;}

.header_mid_right_adspage{width: 280px;height: 100%;display: flex; float: right;}
.header_mid_right_adspage img{height: 150px;border: 2px solid #dfdfdf;margin: 10px 0 0 0;}

/* header_bottom */
.header_bottom{width: 100%;height: 50px;background-color: #0080ff;display: flex;}
.header_bottom_left_nav{width: 690px;height: 100%;display: flex; float: left;position: relative;}
.header_bottom_left_nav h2{padding: 0 5px;display:flex; float:right;align-items: center;}
.header_bottom_left_nav h2 a{height:43px; text-align:center; color:#fff; text-decoration:none; font-size:20px; font-weight:bold; display:block; line-height:40px;align-items: center; }

/* header_bottom_categories */
.header_bottom_left_nav h2:hover #category_header{height: 400px; display: block;border: 0px;}
#category_header{position: absolute; top:50px;left: 0; z-index: 2; height: 0px;transition: 0.5s; display: none; background-color: blue ; padding-top: 6px;margin-top: 0px; padding-bottom: 8px; margin-bottom: 0px; }

.header_bottom_left_nav ol{display:flex;float: right;align-items: center;}
.header_bottom_left_nav li{padding: 5px 5px 5px 5px;text-align: center;color: #333;}
.header_bottom_left_nav li a{color: #ececec;align-items: center;text-align: center;}
#categoryChild{position: absolute;top:50px;left: 0; z-index: 2; height: 0px;transition: 0.5s;padding-top: 6px;margin-top: 0px; padding-bottom: 8px; margin-bottom: 0px; overflow: hidden;background-color: antiquewhite;}
#category_header> li> a:hover{border: 0px;color: skyblue;}
.categoryChild img {float:right; width: auto !important; height:396px !important; position:absolute; margin:0 0 0 -80px;
/* display:none; */
}

.header_bottom_right_nav{width: 390px;height: 100%;display: flex; float:right;margin: 0px 30px 10px 94px;align-items: right;}
.header_bottom_right_nav ol{display:flex;float: right;text-align:right;margin: 25px 60px 80px 30px;}
.header_bottom_right_nav li{padding: 0 5px; display:flex;float: right;align-items: center;text-align: right;}
.header_bottom_right_nav li a{color: #ececec;align-items: center;text-align:right;display: flex; float:right;}

/* header_hover */
.hoverslc:hover{background-color: blue;}
#category_header >li:hover .categoryChild{display: block;}
.categoryChild {width:600px; height:396px; position:absolute; left:94px; top:0; background-color: white; 
display:none;
}
.categoryChild:hover {width:600px; height:396px; left:94px; top:0; background-color:white; 
display:block;color: #333;
}
#category_header .categoryChild a {color: #333;}
#category_header .categoryChild li:hover {color: #333;text-decoration: underline;}

.categoryChildLeft {width: 118px; height: 150px;z-index: 2; display:flex; flex-direction:column; margin:15px 0 0 10px;  color: #333; left:0px;
/* display:none; */
position: absolute;
}
.categoryChildLeft:hover {width: 118px; height: 150px;z-index: 2; display:flex; flex-direction:column;  margin:15px 0 0 10px;color: #333; left:0px;
display:block;
}
.categoryChildRight {z-index: 2;width: 118px; height: 150px;display:flex; 
    position: absolute; color: #333; left:135px;top:15%
/* display:none; */
}
.categoryChildRight:hover {z-index: 2;width: 118px; height: 150px;display:flex;
display:block;color: #333; left:135px;;top:15%
}
.categoryChildRight > ul {display:flex; flex-direction:column; width:118px; height: 150px;z-index:3;
    position: absolute;color: #333;
/* display:none; */
}
.categoryChildRight > ul:hover {display:flex; flex-direction:column; width:118px; height: 150px;z-index:3;
    
display:block;color: #333;
}

/* footer */
footer{width: 100%;height: 340px; margin: 0 auto ;background-color: #dfdfdf;}

/* footer_top */
.footer_top{width: 100%; height: 50px;}
.footer_top_left_nav{width: 790px;height: 100%;display: flex; float: left;}
.footer_top_left_nav ol {display:flex; align-items: center;}
.footer_top_left_nav li {padding: 0 5px;}

.footer_top_right_category{width: 390px;height: 100%;display: flex; float: right; align-items: center;}
.selection{width: 200px;align-items: center;display: flex; float: right;height:30px; margin:10px 10px 10px 150px; background-color:#ececec; border-radius:4px; border:1px solid #cdcdcd; font-size:12px; outline:none;}
.icons{display: flex;inline-size: 5px;align-items:end;padding: 15px 10px 15px 10px;margin: 15px 15px 20px 10px;}
.icons li{margin: 1px 5px 5px 1px;}

/* footer_mid */
.footer_mid{width: 100%; height: 140px;}
.footer_mid_left_logo{width: 285px;height: 100%;display: flex; float: left;}
.sublogo{display: flex; float: right;align-items: center;margin: 0 70px;}

.footer_mid_center_article{width: 490px;height: 100%;display: flex; float: left;}
.footer_mid_center_article li{color: #333;}
.footer_mid_right_telnum{width: 390px;height: 100%;display: flex; float: right;}
.footer_mid_right_telnum p{display: flex; float: right;flex-wrap: wrap;}

/* footer_bottom */
.footer_bottom_companieslogo{width: 100%; height: 140px;}
.bottom_logos{width: 1200px;height: 140px;}