@charset "utf-8";

/* slider */
#slider {width: 1200px; height: 420px; margin: 0 auto;}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }

    .new{width: 280px; height: 400px; margin: 0 auto;border:1px; border-color: black;}

/* section1 */
.section1{width: 1200px; height: 430px; margin: 0 auto;}


/* section2 */
.section2{width: 1200px; height: 400px; margin: 0 auto ;}
.section2_left_adspage{width: 895px; height: 100%;display: flex; float: left;}
.section2_left_adspage_box{width: 600px;height: 300px;}

.section2_right_ads{width: 285px; height: 100%;display: flex; float: right;}
#section2_right_ads_pages{display: flex; float: right;}

/* section2_bestseller */
.bestseller_ko{width:200px; height:300px; margin:0 15px;}
.bestseller_ko_box{width:200px; height:50px;  margin:10px 0; display:flex;}
.bestseller_ko_box_img{display: flex;}
.bestseller_ko_box_img_t{display: flex;}

.bestseller_fo{width:200px; height:300px; margin:0 15px;}
.bestseller_fo_box{width:200px; height:50px;  margin:10px 0; display:flex;}
.bestseller_fo_box_img{display: flex;}
.bestseller_fo_box_img_t{display: flex;}

.bestseller_old{width:200px; height:300px; margin:0 15px;}
.bestseller_old_box{width:200px; height:50px;  margin:10px 0; display:flex;}
.bestseller_old_box_img{display: flex;}
.bestseller_old_box_img_t{display: flex;}

.bestseller_eb{width:200px; height:300px; margin:0 15px;}
.bestseller_eb_box{width:200px; height:50px;  margin:10px 0; display:flex;}
.bestseller_eb_box_img{display: flex;}
.bestseller_eb_box_img_t{display: flex;}

.bestseller_tic{width:200px; height:300px; margin:0 15px;}
.bestseller_tic_box{width:200px; height:50px;  margin:10px 0; display:flex;}
.bestseller_tic_box_img{display: flex;}
.bestseller_tic_box_img_t{display: flex;}

/* section2_popularsearch */

/* section3 */
.section3{width: 1200px; height: 390px; margin: 0 auto ;}
.section3_left_adspage{width: 895px; height: 100%;display: flex; float: left;background-color: blanchedalmond;}
.section3_left_adspage_box{width: 600px;height: 300px;background-color: blue;}

.section3_right_adspage{width: 285px; height: 100%;display: flex; float: right;background-color: palegoldenrod;}
.section3_right_adspage_img{width: 100%; height: 100%;display: flex; float: right;}

/* section4 */
.section4{width: 1200px; height: 600px; margin: 0 auto ;position: relative;}
.section4_mid{width: 100%;height: 70px;display: flex;background-color: #eee;}
.section4_mid ul{display:flex; align-items: center;}
.section4_mid li {padding: 0 20px;}
.section4_mid_box{width: 200px;height: 420px;display: flex;float: left;background-color: #eee;}
.section4_mid_adspage{width: 100%;height:400px;display: flex;}

 .section4_mid {
            display: flex;
            justify-content: center;
        }

        .section4_mid li{
            float: left;
            text-align: center;
            line-height: 45px;
            cursor: pointer;
            padding: 5px 50px;     
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;          
        }

        .section4_mid li:nth-child(4){
            float: left;
            text-align: center;
            line-height: 45px;
            cursor: pointer;
            padding: 5px 50px;     
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;          
        }

        .section4_mid li:hover{background-color: #0080ff;color: #eee;}

        .section4_mid_adspage:not(:nth-of-type(2)){
            display: none;
        }

        .section4_mid_box{
            text-align: center;
            margin: 50px;
            padding: 15px 10px;
            border-radius: 4px;
            flex-wrap: wrap;
            align-items: flex-start;}

        .section4_mid_box:hover{
            text-align: center;
            margin: 50px;
            padding: 15px 10px;
            border-radius: 4px;
            flex-wrap: wrap;
            align-items: flex-start;
            background-color: blanchedalmond;}

/* section5 */
.section5{width: 1200px; height: 500px; margin: 0 auto ;border: 1px solid #d8d8d8;}
.section5_left_articlepage{width: 390px; height: 100%;display: flex; float: right;position: relative;}
.section5_left_articlepage1{width: 390px; height: 300px;display: flex; margin: 70px 68px 80px 0px;}.section5_left_articlepage1:hover{content:''; position:absolute; width:100%; height:100%; transform-origin:center; background-position:center;  background-size:cover;}
.section5_left_articlepage_p{font-size: 25px;}

.section5_right_articlepage{width: 800px; height: 310px;display: flex;float: right;background-color: tan;}
.section5_right_articlepage_box{width: 600px;height: 250px;background-color: blue;}
.section5_right_articlepage_2{width: 800px; height: 320px;display: flex;float: right;background-color: lightsalmon;}
.section5_right_articlepage_2_box{width: 600px;height: 250px;background-color: blue;}

/* section6 */
.section6{width: 1200px; height: 540px; margin: 0 auto ;background-color: purple;}
.section6_left_video{width: 690px; height: 500px;font-size: 30px;}
.section6_left_video_mp4 video{width: 500px; height: 300px;margin: 50px 90px 50px 90px;display: flex; float: left;}

.section6_right_ads{width: 490px; height: 100%;display: flex; float: right;background-color: darkgreen;}
.section6_right_ads p{display: flex; float: left; color: aliceblue;}
.section6_right_ads1{width: 100px;height: 200px;display: flex; float: left;margin: 200px 70px 50px 20px;}
.section6_right_ads2{width: 100px;height: 200px;display: flex; float: right;margin: 200px 70px 80px 20px;}